In [1]:
import pandas as pd

# Load the CSV file into a DataFrame
df = pd.read_csv("../data_in/public_profiles.csv")

# Display the first few rows of the DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146951 entries, 0 to 146950
Data columns (total 16 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   steamid                   146951 non-null  int64
 1   personaname               146949 non-null  object
 2   profileurl                146951 non-null  object
 3   avatar                    146951 non-null  object
 4   avatarmedium              146951 non-null  object
 5   avatarfull                146951 non-null  object
 6   communityvisibilitystate  146951 non-null  int64
 7   personastate              146951 non-null  int64
 8   lastlogoff                0 non-null       float64
 9   commentpermission         11885 non-null   float64
 10  realname                  20487 non-null   object
 11  primaryclanid             146951 non-null  int64
 12  timecreated               146951 non-null  int64
 13  loccountrycode            23073 non-null   object
 14  locstatecode              13485 non-null   object
 15  loccityid                 8006 non-null    float64
dtypes: float64(3), int64(5), object(8)
memory usage: 17.9+ MB

In [2]:
duplicates = df.duplicated()
print(f"Number of duplicate rows: {duplicates.sum()}")

Number of duplicate rows: 0

In [3]:
df.columns

Index(['steamid', 'personaname', 'profileurl', 'avatar', 'avatarmedium',
       'avatarfull', 'communityvisibilitystate', 'personastate', 'lastlogoff',
       'commentpermission', 'realname', 'primaryclanid', 'timecreated',
       'loccountrycode', 'locstatecode', 'loccityid'],
      dtype='object')

In [4]:
filtered_df = df.dropna(subset=['loccountrycode', 'locstatecode', 'loccityid'])
filtered_df[['loccountrycode', 'locstatecode', 'loccityid']].head(20)

    loccountrycode locstatecode  loccityid
1               ZA           11    46719.0
49              DE           02    13719.0
51              US           FL      849.0
58              IT           09    24650.0
74              PL           67    36018.0
99              DE           01    13275.0
101             RU           66    42316.0
104             GB           J6    16565.0
112             US           TX     3752.0
135             GB           J7    16843.0
144             RU           10    39936.0
186             DE           07    12661.0
200             CA           SK     4740.0
210             KR           11    26400.0
267             RU           45    41360.0
272             FR           B1    16006.0
273             CA           ON     4816.0
275             BR           26     8083.0
289             PT           17    36252.0
292             RO           13    38668.0

In [5]:
# Count unique values for each column
unique_counts = filtered_df.nunique()
print(unique_counts)

df[['loccountrycode', 'locstatecode', 'loccityid']].nunique()

steamid                     8019
personaname                 7962
profileurl                  8019
avatar                      5943
avatarmedium                5943
avatarfull                  5943
communityvisibilitystate       1
personastate                   4
lastlogoff                     0
commentpermission              2
realname                    4621
primaryclanid               3080
timecreated                 7966
loccountrycode               119
locstatecode                 271
loccityid                   3596
dtype: int64

loccountrycode     229
locstatecode       317
loccityid         3596
dtype: int64